
.badge{
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 3px 8px;
    font-weight: 600;
}

:global(.offcanvas-backdrop.show).backdrop{
    opacity: .25;
    background-color: #0e2238;
}