/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap'); */

.menuItem .icon {
    margin-right: 7px;
    width: 18px;
    height: 18px;
}

.menuItem {
    display: flex;
    align-items: center;
    line-height: 2em;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 14px;
    font-weight: 500;
}

:global(.dropdown-item.active).menuItem {
    background-color: #f6f7f8;
    color: black;
}

.menuItem:active {
    background-color: #f6f7f8;
        color: black;
}

.menuItem:hover {
    background-color: #f6f7f8;
}

.dropdownToggle::after {
    content: none;
}

.dropdownToggle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    padding-bottom: 3px;
    background-color: white;
    color: #9EA9B4;
    border: 0;
    box-shadow: 0 .125rem .125rem 0 rgba(14, 34, 56, .07);
    margin: 0 7px;
}

.dropdownToggle .icon {
    width: 18px;
    height: 18px;
}

/* override default bs style... */
.dropdownToggle:hover {
    background-color: white;
    color: #7e8790;
}

:global(.dropdown-toggle:active).dropdownToggle {
    background-color: white;
    color: #7e8790;
}

:global(.dropdown-toggle:focus-visible).dropdownToggle{
    background-color: white;
    color: #7e8790;
    box-shadow: 0 .125rem .125rem 0 rgba(14, 34, 56, .07);
}

.dropdownToggle[aria-expanded=true] {
    color: #7e8790;
    /* z-index: 1001; */
}

.dropdownMenu {
    box-shadow: 0 1rem 3rem rgba(14, 34, 56, .1);
    transform: translate(-113px, 50px) !important;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 0;

    /* animation-fill-mode: both; */
    animation-duration: .2s;
    animation-name: slideIn;
    border-radius: 10px;
}


@keyframes slideIn {
    to {
        margin-top: 0;
        opacity: 1
    }

    0% {
        margin-top: 1rem;
        opacity: 0
    }
}

.separator {
    width: 1px;
    height: 40px;
    background-color: #eaeced;
    margin: 0 10px;
}

@media (max-width: 992px){
    .separator{
        margin-left: 0px;
        margin-right: 0px;
        /* mx-2 */
    }
}

.menuHeader {
    font-weight: 700;
    font-size: 11px;
    /* font-size: .6875rem; */
    line-height: 16px;
    text-transform: uppercase;
    /* font-family: 'Open Sans', sans-serif; */
    color: #9ea9b4;
    padding: 6px 15px;
}