@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.menuHeader {
    font-weight: 700;
    font-size: 11px;
    /* font-size: .6875rem; */
    line-height: 16px;
    text-transform: uppercase;
    /* font-family: 'Open Sans', sans-serif; */
    color: #9ea9b4;
    padding: 6px 15px;
}

.icon {
    border-radius: 50%;
    /* margin-right: 7px; */
}

.dropdownToggle{
    padding-bottom: 4px;
}