/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap'); */

/* :global(.nav-link).navLink { */
.navLink {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: rgb(158, 169, 180);

    cursor: pointer;

    display: flex;
    align-items: center;

    /* padding: 14.5px 20px 14.5px 30px; */
    padding-left: 15px !important;
    padding-right: 20px !important;
    padding-top: 14.5px;
    padding-bottom: 14.5px;
    /* margin-right: 15px; */
    /* letter-spacing */
}

.navLink:visited {
    color: rgb(158, 169, 180);
}

/* :global(.nav-link:hover).navLink { */
.navLink:hover {
    color: rgb(0, 186, 199);
}

:global(.nav-link.active).navLink {
    color: rgb(0, 186, 199) !important;
    background-color: rgba(0, 186, 199, 0.12);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

/* :global(.nav-link > svg).navLink {
    margin-right: 10px;
} */

.nav-link-icon {
    margin-right: 10px;
}

.bi-chevron-down {
    /* margin-left: 51px; */
    transition: transform .2s;
    justify-self: flex-end;
    margin-left: auto;
}

.navLink[aria-expanded=true] .bi-chevron-down {
    transform: rotate(-180deg);
}



.subitems {
    padding-left: 20px;
    /* padding-left: 6px; */
    margin-top: 10px; 
    margin-bottom: 10px;
}



.subitems .navLink {
    padding: 6px 0;
    font-size: 12px;
    line-height: 18px;
}

.subitems .navLink:hover {
    color: white !important;
    position: relative;
}

.subitems .navLink::before {
    content: "";
    border-radius: 6px;
    height: 6px;
    width: 6px;
    background-color: rgb(158, 169, 180);
    margin-right: 15px;
    opacity: 0.3;
}

.subitems .subitem::before {
    content: "";
    height: 10px;
    width: 1px;
    background-color: rgb(158, 169, 180);
    /* margin-right: 16px; */
    opacity: 0.3;

    position: relative;
    left: 18px;
    top: -5px;
}

.subitems .subitem:first-child::before {
    height: 5px;
    top: -2px;
}

.subitem {
    display: flex;
    /* else psudo element is invisable */
}

.subitems :global(.nav-link.active)::before {
    background-color: rgb(0, 168, 199);
    opacity: 1;
}

.subitems :global(.nav-link.active) {
    background-color: transparent;
    color: white !important;
}

@media (min-width: 992px) {
    .navLink {
        padding-left: 30px !important;
    }

    .subitems {
        padding-left: 5px ;
    }

    .subitems .subitem::before {
        left: 33px !important;
    }
}