/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
    font-family: 'Open Sans', sans-serif;
}

.scroller{
  overflow-y: scroll;
}

.scroller::-webkit-scrollbar {
  /* background-color: red; */
  width: 20px;
  /* -webkit-appearance: none; */
  background-color: transparent;
  height: 0.375rem;
  /* visibility: visible; */
  visibility: hidden;
  width: 0.375rem;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: hsla(214, 7%, 62%, .4);
  border-radius: 3px;
  /* visibility: visible; */
  visibility: hidden;
}

.scroller:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.scroller:hover::-webkit-scrollbar-thumb:hover {
  background-color: hsla(214, 7%, 62%, .7);
}